{% extends 'base.html' %}
{% block content %}
<h2>Contacts</h2>
<a href="{{ url_for('contact.create_contact') }}">Add New Contact</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th> <!-- No heading--></th>
    </tr>
    {% for contact in contacts %}
    <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.surname }}</td>
        <td>{{ contact.email }}</td>
        <td align="center">
            <a href="{{ url_for('contact.view_contact', contact_id=contact.id) }}">View</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}