{% extends 'base.html' %}

{% block title %}Linked Clients{% endblock %}

{% block content %}
<h1>Linked Clients</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if clients %}
<table>
  <tr>
    <th style="text-align:left;">Client Name</th>
    <th style="text-align:left;">Client Code</th>
    <th style="text-align:left;"> <!-- No headings here--> ></th>
  </tr>
  {% for client in clients %}
  <tr>
    <td style="text-align:left;">{{ client.name }}</td>
    <td style="text-align:left;">{{ client.code }}</td>
    <td style="text-align:left;">
      <a href="{{ url_for('client.unlink_client', client_id=client.id) }}">Unlink</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <p style="color: red;">No contact(s) found for empty links or clients.</p>
{% endif %}

{% endblock %}